{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.7/css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'DataTables-1.10.15/media/css/jquery.dataTables.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'DataTables-1.10.15/media/css/dataTables.bootstrap.min.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'sweetalert/dist/sweetalert.css' %}"/>
        {% block links %}{% endblock %}
        <style type="text/css">
            {% block style %}{% endblock %}
        </style>
    </head>
    <body>
        {% block content %}{% endblock %}
        {% block dialog %}{% endblock %}
        <script type="text/javascript" src="{% static 'jquery-3.2.1/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'DataTables-1.10.15/media/js/jquery.dataTables.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'DataTables-1.10.15/media/js/dataTables.bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'sweetalert/dist/sweetalert.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
        {% block scripts %}{% endblock %}
        <script type="text/javascript">
            jQuery.extend( $.fn.dataTable.defaults, {
                "searching": false,
                "ordering": false,
                "paging": false,
                "info": false,
                "language": {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                }
            });
            {% block js %}{% endblock %}
        </script>
    </body>
</html>
